.album-square {
	width: 256px;
	height: 256px;
	background-image: url(https://loremflickr.com/320/240);
	background-size: cover;
	background-position: center;
	color: #FFF;
}
.album-square .overlay {
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 64px;
	opacity: 0;
}
.album-square:hover .overlay {
	opacity: 1;
}